---
import Layout from '../../layouts/Layout.astro';
import { getDeportes } from '../../services/DeportesServices.js';

const deportes = await getDeportes();
console.log(deportes);

type Deporte = {
    id: string | number;
    nombre: string;
    descripcion: string;
};

---

<Layout>
    <div id="container">
        <h1>Deporte</h1>
        <p>Bienvenido a la página de Deporte.</p>
        <div id="deportes-list container" class="d-flex flex-wrap gap-3 justify-content-center">
            {deportes.map((deporte: Deporte) => (
                <div class="deporte-item width-100 height-100 bg-light" >
                    <h2>{deporte.nombre}</h2>
                    <p>{deporte.descripcion}</p>
                </div>
            ))}

        </div>
    </div>
</Layout>




